.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.apk
*.jks
*.keystore
*.class
*.log
*.pyc
.env
.env.local
pubspec.lock
android/
ios/
macos/
windows/
linux/
web/
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.gradle/
local.properties
GeneratedPluginRegistrant.java
.plugin_symlinks/
.packages
*.iml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/assetWizardSettings.xml
**/.idea/dictionaries
**/.idea/libraries
**/.idea/shelf
**/.idea/caches
**/.idea/codeStyles/
**/.idea/modules.xml
**/.idea/misc.xml
**/.idea/runConfigurations.xml
**/.idea/.name
**/.idea/compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/encodings.xml
**/.idea/inspectionProfiles/profiles_settings.xml
**/.idea/inspectionProfiles/
**/.idea/vcs.xml
**/.idea/watcherTasks.xml